<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<body>
    <div th:fragment = "footer">
        <footer class="fdb-block footer-large fp-active" data-block-type="footers" data-id="1" style="margin-top: 30px">
            <div class="container">
                <div class="row text-center">
                    <div class="col fr-box fr-inline" role="application" >
                        <div class="fr-wrapper" dir="auto">
                            <div class="fr-element fr-view">
                                <h1 style="text-align: left; color: #32325D">​感谢你的支持！<strong>​</strong>​<em>​</em>​​​​​​​</h1>
                                <h2 style="text-align: left; color: #32325D">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 希望您为我们提出更宝贵的建议。</h2>
                                <h4 style="text-align: right; color: #32325D" >​致力于更好的幼儿教育...</h4>
                                <h3><a href="http://www.eucita.com/index.html" style="color: #32325D" th:text="'@' + ${#dates.format(new java.util.Date().getTime(), 'yyyy')} + ' 陵川希望礼仪幼儿园 by langjianwei. All Rights Reserved'">@ 2019 陵川希望礼仪幼儿园 by langjianwei. All Rights Reserved</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>
